Repository bounswe/bounswe2022group3, pull requests merged in 2022-05, with the labels that each got.

#159 added chess initial page
  practice-app/client/components/Button/Button.jsx
  practice-app/client/package-lock.json
  practice-app/client/package.json
  practice-app/client/pages/chess/index.js
  practice-app/client/public/bK.svg
  practice-app/client/public/wK.svg
  practice-app/client/public/wbK.svg
  practice-app/client/styles/chess/chess.module.scss
  practice-app/client/styles/globals.scss
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/.env.example
  practice-app/server/src/app.js
  practice-app/server/src/models/chess/chess.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/chess/chess.controller.js
  practice-app/server/src/routes/chess/chess.route.js
  practice-app/server/src/routes/chess/chess.validate.js
Labels: practice-app

#165 play chess game + previous games added
  practice-app/client/layouts/auth/AuthLayout.module.scss
  practice-app/client/package-lock.json
  practice-app/client/package.json
  practice-app/client/pages/_app.js
  practice-app/client/pages/_document.js
  practice-app/client/pages/chess/board/[gameId].js
  practice-app/client/pages/chess/create.js
  practice-app/client/pages/chess/games.js
  practice-app/client/pages/chess/index.js
  practice-app/client/pages/chess/resume/[gameId].js
  practice-app/client/pages/chess/view/[gameId].js
  practice-app/client/styles/chess/chess.module.scss
  practice-app/client/styles/globals.scss
  practice-app/server/jest.config.js
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/.env.example
  practice-app/server/src/models/chess/chess.model.js
  practice-app/server/src/models/users/users.model.js
  practice-app/server/src/routes/chess/chess.controller.js
  practice-app/server/src/routes/chess/chess.route.js
  practice-app/server/src/routes/chess/chess.validate.js
  practice-app/server/src/setup-tests.js
  practice-app/server/src/tests/chess.test.js
  practice-app/server/src/tests/utils/db.js
Labels: practice-app, backend, frontend

#166 Practice app/auth0
  practice-app/client/package-lock.json
  practice-app/client/pages/user/login.js
  practice-app/client/pages/user/register.js
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/.env.example
  practice-app/server/src/models/chess/chess.model.js
  practice-app/server/src/models/users/users.model.js
  practice-app/server/src/routes/users/users.controller.js
  practice-app/server/src/routes/users/users.route.js
  practice-app/server/src/routes/users/users.validate.js
  practice-app/server/src/server.js
  practice-app/server/src/services/auth.js
  practice-app/server/src/services/jwkeys.js
Labels: practice-app, backend, frontend

#180 Swagger Integration for Express
  practice-app/server/package.json
  practice-app/server/src/.env.example
  practice-app/server/src/app.js
  practice-app/server/src/routes/users/users.route.js
Labels: Set-up, practice-app, backend

#184 Adding users
  burak.txt
  practice-app/client/pages/chess/board/[gameId].js
  practice-app/client/pages/chess/games.js
  practice-app/client/pages/chess/resume/[gameId].js
  practice-app/server/jest.config.js
  practice-app/server/package-lock.json
  practice-app/server/src/.env.example
  practice-app/server/src/app.js
  practice-app/server/src/models/chess/chess.model.js
  practice-app/server/src/routes/chess/chess.controller.js
  practice-app/server/src/routes/chess/chess.route.js
  practice-app/server/src/tests/chess.test.js
Labels: practice-app, backend

#230 Practice app/quiz feature
  practice-app/client/components/Button/Button.jsx
  practice-app/client/components/Quiz/QuizForm.jsx
  practice-app/client/components/Quiz/QuizSummary.jsx
  practice-app/client/package-lock.json
  practice-app/client/package.json
  practice-app/client/pages/quiz/categories.js
  practice-app/client/pages/quiz/index.js
  practice-app/client/pages/quiz/new_quiz.js
  practice-app/client/pages/quiz/view/[quiz_id].js
  practice-app/client/pages/quiz/view/all.js
  practice-app/client/styles/QuizForm.module.scss
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/app.js
  practice-app/server/src/models/quiz/quiz.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/quiz/quiz.controller.js
  practice-app/server/src/routes/quiz/quiz.route.js
  practice-app/server/src/routes/quiz/quiz.validate.js
  practice-app/server/src/server.js
  practice-app/server/src/tests/quiz.test.js
Labels: priority: high, effort: low, practice-app

#250 Practice app/watchlist
  practice-app/client/components/Button/Button.module.scss
  practice-app/client/layouts/main/MainLayout.jsx
  practice-app/client/layouts/main/MainLayout.module.scss
  practice-app/client/pages/movies/add.js
  practice-app/client/pages/movies/list.js
  practice-app/client/pages/movies/results.js
  practice-app/client/pages/movies/search.js
  practice-app/client/pages/user/main.js
  practice-app/server/src/models/movies/movies.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/movies/movies.controller.js
  practice-app/server/src/routes/movies/movies.route.js
  practice-app/server/src/routes/movies/movies.validate.js
  practice-app/server/src/tests/movies/movies.test.js
Labels: priority: high, effort: moderate, practice-app

#200 Practice-app posts
  practice-app/client/components/Button/Button.module.scss
  practice-app/client/package-lock.json
  practice-app/client/package.json
  practice-app/client/pages/_app.js
  practice-app/client/pages/posts/create.js
  practice-app/client/pages/posts/index.js
  practice-app/server/src/app.js
  practice-app/server/src/models/posts/posts.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/posts/post.controller.js
  practice-app/server/src/routes/posts/post.route.js
  practice-app/server/src/tests/posts/post.test.js
Labels: priority: high, effort: low, practice-app

#254 Practice app/email verification
  practice-app/client/pages/verify/verify.js
  practice-app/server/src/app.js
  practice-app/server/src/models/verify/verify.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/verify/verify.controller.js
  practice-app/server/src/routes/verify/verify.route.js
  practice-app/server/src/routes/verify/verify.validate.js
  practice-app/server/src/tests/verify.test.js
Labels: priority: high, status: review-needed, practice-app, backend

#253 Practice app/lyrics
  practice-app/client/components/Button/Button.jsx
  practice-app/client/pages/lyrics/index.js
  practice-app/client/pages/lyrics/saved.js
  practice-app/server/package-lock.json
  practice-app/server/src/app.js
  practice-app/server/src/models/lyrics/lyrics.model.js
  practice-app/server/src/routes/api.js
  practice-app/server/src/routes/lyrics/lyrics.controller.js
  practice-app/server/src/routes/lyrics/lyrics.route.js
  practice-app/server/src/routes/lyrics/lyrics.validate.js
  practice-app/server/src/tests/lyrics.test.js
Labels: priority: high, effort: moderate, practice-app
