Repository bounswe/bounswe2022group3, pull requests merged in 2022-12, with the labels that each got.

#377 Mobile: login and registration
  app/mobile/lib/services/user_service.dart
  app/mobile/lib/view/intro/intro.dart
  app/mobile/lib/view/login/emailBar.dart
  app/mobile/lib/view/login/login.dart
  app/mobile/lib/view/login/nameBar.dart
  app/mobile/lib/view/login/passwordBar.dart
  app/mobile/lib/view/login/registration.dart
  app/mobile/lib/view/login/surnameBar.dart
  app/mobile/lib/view/profile/profile.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: priority: high, effort: moderate, mobile

#405 Create annotation model and endpoints
  app/server/src/models/annotation/annotation-example.json
  app/server/src/models/annotation/annotation.model.js
  app/server/src/models/annotation/body.model.js
  app/server/src/models/annotation/selector.model.js
  app/server/src/models/annotation/target.model.js
  app/server/src/routes/annotation/annotation.controller.js
  app/server/src/routes/annotation/annotation.route.js
  app/server/src/routes/annotation/annotation.validate.js
  app/server/src/routes/api.js
  app/server/src/routes/space/space.controller.js
Labels: backend, annotation

#410 add resource to annotation model ; add update and delete annotation endpoints
  app/server/src/models/annotation/annotation.model.js
  app/server/src/routes/annotation/annotation.controller.js
  app/server/src/routes/annotation/annotation.route.js
  app/server/src/routes/annotation/annotation.validate.js
Labels: backend, annotation

#413 update annotation model
  app/server/src/models/annotation/annotation-example.json
  app/server/src/models/annotation/annotation.model.js
  app/server/src/models/annotation/body.model.js
  app/server/src/models/annotation/selector.model.js
  app/server/src/models/annotation/target.model.js
  app/server/src/routes/annotation/annotation.controller.js
Labels: backend, annotation

#428 [frontend] added pop ups and connected note and discussion to backend
  app/client/components/Discussion/Discussion.jsx
  app/client/components/Note/note.jsx
  app/client/components/PopUps/CreateDiscussion.jsx
  app/client/components/PopUps/CreateNote.jsx
  app/client/components/PopUps/EditNote.jsx
  app/client/components/PopUps/PopUp.module.scss
  app/client/pages/my/spaces/[space_id]/discussion/[discussion_id].js
  app/client/pages/my/spaces/[space_id]/discussions.js
  app/client/pages/my/spaces/[space_id]/notes.js
  app/client/pages/my/spaces/[space_id]/resource/[resource].js
  app/client/pages/user/register.js
  app/client/styles/my/discussions.module.scss
  app/client/styles/my/resource_detail.module.scss
Labels: frontend

#429 events
  app/client/next.config.js
  app/client/package-lock.json
  app/client/package.json
  app/client/pages/my/spaces/[space_id]/events.js
  app/client/styles/my/events.module.scss
Labels: priority: moderate, effort: high, frontend

#427 Mobile/coursepage
  app/mobile/lib/classes/chapter/chapter.dart
  app/mobile/lib/classes/chapter/chapter.g.dart
  app/mobile/lib/classes/course/course.dart
  app/mobile/lib/classes/course/course.g.dart
  app/mobile/lib/classes/resource/resource.dart
  app/mobile/lib/classes/resource/resource.g.dart
  app/mobile/lib/classes/topic/topic.dart
  app/mobile/lib/classes/topic/topic.g.dart
  app/mobile/lib/main.dart
  app/mobile/lib/services/content_service.dart
  app/mobile/lib/view/course/add_button.dart
  app/mobile/lib/view/course/add_resource_page.dart
  app/mobile/lib/view/course/content_tile.dart
  app/mobile/lib/view/course/coursepage.dart
  app/mobile/lib/view/course/note/note_view.dart
  app/mobile/lib/view/course/topic/create_topic.dart
  app/mobile/lib/view/course/topic_tile.dart
  app/mobile/lib/view/login/emailBar.dart
  app/mobile/lib/view/resource/edit_button.dart
  app/mobile/lib/view/resource/edit_resource_page.dart
  app/mobile/lib/view/resource/resourcepage.dart
  app/mobile/lib/view/topic/long_press_dialog.dart
  app/mobile/lib/view/topic/resource_tile.dart
  app/mobile/lib/view/topic/topicpage.dart
  app/mobile/lib/view/widgets/markdown_input.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: effort: high, priority: urgent, mobile

#434 space page fix
  app/client/package.json
  app/client/pages/space/[space_id].js
  app/client/styles/course/courseSummary.module.scss
Labels: priority: urgent, frontend

#449 annotation microservice set-up, mostly copied from original app
  app/annotation_server/.dockerignore
  app/annotation_server/.gitignore
  app/annotation_server/Dockerfile
  app/annotation_server/package.json
  app/annotation_server/src/.env.example
  app/annotation_server/src/app.js
  app/annotation_server/src/models/annotation/annotation-example.json
  app/annotation_server/src/models/annotation/annotation.model.js
  app/annotation_server/src/routes/annotation/annotation.controller.js
  app/annotation_server/src/routes/annotation/annotation.route.js
  app/annotation_server/src/routes/annotation/annotation.validate.js
  app/annotation_server/src/routes/api.js
  app/annotation_server/src/server.js
  app/annotation_server/src/services/validate.js
Labels: backend

#447 Backend/profile page
  app/server/src/routes/userProfile/userProfile.controller.js
  app/server/src/routes/userProfile/userProfile.route.js
Labels: backend

#455 create getPopularSpaces endpoint
  app/server/src/routes/space/space.controller.js
  app/server/src/routes/space/space.route.js
Labels: backend

#456 create getRecommendedSpaces endpoint
  app/server/src/models/space/space.model.js
  app/server/src/routes/space/space.controller.js
  app/server/src/routes/space/space.route.js
Labels: backend

#457 Backend/activities schema
  app/server/src/models/activity/activity.model.js
  app/server/src/models/enrollment/enrollment.model.js
  app/server/src/models/personalInfo/personalInfo.model.js
  app/server/src/models/resource/resource.model.js
  app/server/src/models/space/space.model.js
  app/server/src/routes/activity/activity.controller.js
  app/server/src/routes/activity/activity.route.js
  app/server/src/routes/activity/activity.validate.js
  app/server/src/routes/api.js
  app/server/src/routes/discussion/discussion.controller.js
  app/server/src/routes/enrollment/enrollment.controller.js
  app/server/src/routes/event/event.controller.js
  app/server/src/routes/resource/resource.controller.js
  app/server/src/routes/space/space.controller.js
  app/server/src/routes/topic/topic.controller.js
  app/server/src/routes/userProfile/userProfile.controller.js
  app/server/src/routes/userProfile/userProfile.route.js
  app/server/src/services/time.js
  app/server/src/tags/tags.txt
Labels: backend

#463 [Frontend] Profile Page Updates
  app/client/package-lock.json
  app/client/package.json
  app/client/pages/user/[user_id].js
Labels: frontend

#461 [frontend] note filtering
  app/client/package-lock.json
  app/client/pages/my/spaces/[space_id]/notes.js
Labels: frontend

#475 Mobile/activity feed
  app/mobile/lib/classes/feed/activity.dart
  app/mobile/lib/classes/feed/activity.g.dart
  app/mobile/lib/locator.config.dart
  app/mobile/lib/services/feed_service.dart
  app/mobile/lib/services/locator.dart
  app/mobile/lib/view/dashboard_view.dart
  app/mobile/lib/view/feed/feed.dart
  app/mobile/lib/view/home/appbar.dart
  app/mobile/lib/view/home/homepage.dart
Labels: enhancement, effort: moderate, status: review-needed, mobile

#488 frontend copy to clipboard
  app/client/components/Note/note.jsx
Labels: frontend

#470 Mobile/reach discussion
  app/mobile/lib/classes/resource/resource.dart
  app/mobile/lib/classes/resource/resource.g.dart
  app/mobile/lib/view/course/coursepage.dart
  app/mobile/lib/view/course/topic_tile.dart
  app/mobile/lib/view/resource/edit_button.dart
  app/mobile/lib/view/resource/resourcepage.dart
  app/mobile/lib/view/topic/resource_tile.dart
  app/mobile/lib/view/topic/topicpage.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: priority: high, effort: moderate, status: review-needed, mobile

#483 Mobile/profilepage - Edit Profile Page & Layout Updates in Profile Pages
  app/mobile/ios/Podfile.lock
  app/mobile/lib/classes/course/course.dart
  app/mobile/lib/classes/course/course.g.dart
  app/mobile/lib/classes/profile/profile.dart
  app/mobile/lib/classes/profile/profile.g.dart
  app/mobile/lib/main.dart
  app/mobile/lib/services/course_service.dart
  app/mobile/lib/services/profile_service.dart
  app/mobile/lib/services/user_service.dart
  app/mobile/lib/view/course/discussion/comment_tile.dart
  app/mobile/lib/view/course/discussion/discussion_view.dart
  app/mobile/lib/view/dashboard_view.dart
  app/mobile/lib/view/feed/feed.dart
  app/mobile/lib/view/home/appbar.dart
  app/mobile/lib/view/home/homepage.dart
  app/mobile/lib/view/profile/edit_profile.dart
  app/mobile/lib/view/profile/profile.dart
  app/mobile/lib/view/widgets/profile_picture.dart
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
Labels: effort: high, status: review-needed, priority: urgent, mobile

#485 Mobile/recommend spaces
  app/mobile/lib/classes/course/course.dart
  app/mobile/lib/view/home/homepage.dart
Labels: effort: low, priority: urgent, mobile

#490 Mobile/note to resource
  app/mobile/lib/services/note_service.dart
  app/mobile/lib/view/course/note/create_note_page.dart
  app/mobile/lib/view/resource/resourcepage.dart
Labels: effort: moderate, priority: urgent, mobile

#433 [Mobile] Event
  app/mobile/android/app/build.gradle
  app/mobile/android/app/src/main/AndroidManifest.xml
  app/mobile/lib/classes/course/course.dart
  app/mobile/lib/classes/course/course.g.dart
  app/mobile/lib/classes/event/event.dart
  app/mobile/lib/classes/event/event.g.dart
  app/mobile/lib/locator.config.dart
  app/mobile/lib/services/event_service.dart
  app/mobile/lib/services/locator.dart
  app/mobile/lib/view/course/coursepage.dart
  app/mobile/lib/view/course/event/create_event.dart
  app/mobile/lib/view/course/event/event_view.dart
  app/mobile/lib/view/login/login.dart
  app/mobile/lib/view/login/registration.dart
  app/mobile/linux/flutter/generated_plugin_registrant.cc
  app/mobile/linux/flutter/generated_plugins.cmake
  app/mobile/macos/Flutter/GeneratedPluginRegistrant.swift
  app/mobile/pubspec.lock
  app/mobile/pubspec.yaml
  app/mobile/windows/flutter/generated_plugin_registrant.cc
  app/mobile/windows/flutter/generated_plugins.cmake
Labels: effort: high, design, status: review-needed, priority: urgent, mobile
